# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr

# OS-specific files
.DS_Store
Thumbs.db

# APK files
*.apk
*.aab

# Log files
*.log

# Android captures
captures/

# External native build
cmake-build-*/
.externalNativeBuild/
.cxx/

# Google Services
google-services.json
